.contact-me {
  justify-self: center;
  display: grid;
  place-items: center;

  width: max-content;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 3rem;

  background-color: var(--clr-bg-light);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 6px;

  gap: 1rem;

  h2 {
    position: relative;
    font-size: 2rem;
    color: var(--clr-bg-black);
  }

  label {
    display: grid;
  }

  .submit-btn {
    background-color: var(--clr-bg-accent);
    color: var(--clr-bg-black);

    &:hover {
      background-color: var(--clr-bg-secondary);
    }
  }
}
