.introduction {
  --min-padding: 100px;
  --max-padding: 10vw;

  display: grid;
  grid-template-columns: clamp(
      var(--min-padding),
      var(--max-padding),
      var(--max-padding)
    ) repeat(3, 1fr) clamp(
      var(--min-padding),
      var(--max-padding),
      var(--max-padding)
    );

  column-gap: 2rem;
  row-gap: 4rem;

  padding-block: 6rem;

  .openning {
    grid-column: 2 / 5;
    display: grid;
    gap: 1rem;

    text-align: center;

    > h2 {
      font-size: 2rem;
    }
    > p {
      font-size: 1.1rem;
    }
  }

  .tools,
  .core-skills,
  .experience {
    padding: 1rem;
    width: 100%;
    border-radius: 10px;
    padding-bottom: 2rem;

    text-align: center;
    background-color: var(--clr-bg-light);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    > img {
      width: 25px;
      padding-block: 1rem;
      justify-self: center;
    }

    > h2 {
      font-size: 2.5rem;
      margin-bottom: 1rem;
      border-radius: 10px;
      color: var(--clr-bg-dark);
    }

    > h3 {
      font-size: 1.4rem;
      margin-block: 0.5rem;
      text-decoration: underline;
    }

    ul {
      display: grid;
      place-items: center;
      margin-bottom: 1.5rem;

      li {
        position: relative;

        display: flex;
        gap: 0.5rem;

        margin-bottom: 0.3rem;
        width: max-content;

        > img {
          width: 20px;
          height: 20px;
          border-radius: 50%;
        }
      }
    }
  }

  .tools {
    grid-column: 2 / 3;
  }

  .core-skills {
    grid-column: 3 / 4;
  }

  .experience {
    grid-column: 4 / 5;
  }
}
