.main-about-me {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
  justify-items: center;
  row-gap: 2rem;

  padding-block-start: 6rem;
  padding-block-end: 2rem;

  background: linear-gradient(
    to top left,
    var(--clr-bg-secondary),
    var(--clr-bg-main) 40%
  );
  clip-path: ellipse(110% 100% at 50% 0%);

  .about-me {
    display: grid;
    padding-inline-start: 8rem;

    > h1 {
      grid-column: 1 / span 2;
      height: 100px;
      font-size: 6.5rem;
    }

    > h2 {
      grid-column: 1 / span 2;
      margin-bottom: 1rem;
      font-size: 3rem;
    }

    > p {
      margin: 0;
      font-size: 1.2rem;
      grid-column: 1 / span 2;
    }

    .resume-btn {
      margin-block: 1.5rem;
      display: grid;
      place-items: center;
    }
  }

  > .avatar {
    width: 500px;
  }

  .social-icons {
    grid-column: span 2;
    display: flex;
    gap: 2rem;

    > .icon {
      display: grid;
      place-items: center;

      width: 35px;
      border-radius: 1px;
      /* box-shadow: 0 0 0 0.5rem var(--clr-bg-accent); */
      /* background-color: var(--clr-bg-accent); */
      cursor: pointer;

      > img {
        width: 90%;
      }

      &:hover {
        border-radius: 3px;
      }

      .github&:hover {
        background-color: var(--clr-github);
        box-shadow: 0 0 0 0.3rem var(--clr-github);
      }
      .linkedin&:hover {
        background-color: var(--clr-linkedin);
        box-shadow: 0 0 0 0.3rem var(--clr-linkedin);
      }
      .mail&:hover {
        background-color: var(--clr-mail);
        box-shadow: 0 0 0 0.3rem var(--clr-mail);
      }
      .whatsup&:hover {
        background-color: var(--clr-whatsup);
        box-shadow: 0 0 0 0.3rem var(--clr-whatsup);
      }
    }
  }
}
