.Project-list {
  display: grid;
  grid-template-columns: 4rem repeat(3, 1fr) 4rem;
  column-gap: 2rem;
  row-gap: 5rem;

  padding-bottom: 7rem;
  margin-bottom: 3rem;

  background-color: var(--clr-bg-light);
  clip-path: ellipse(100% 80% at 50% 80%);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 6px;

  > h2 {
    grid-column: 2/5;
    justify-self: center;
    margin-top: 3rem;
    font-size: 2.5rem;
  }

  .marshmello {
    grid-row: 2;
    grid-column: 2;
  }

  .simple-pen {
    grid-row: 2;
    grid-column: 3;
  }

  .meme-craft {
    grid-row: 2;
    grid-column: 4;
  }
}
