.projects {
  display: grid;
  grid-template-columns: 4rem repeat(3, 1fr) 4rem;
  column-gap: 2rem;
  row-gap: 5rem;

  padding-bottom: 7rem;
  margin-bottom: 3rem;

  background-color: var(--clr-bg-light);
  clip-path: ellipse(100% 80% at 50% 80%);

  > h2 {
    grid-column: 2/5;
    justify-self: center;
    margin-top: 3rem;
    font-size: 2.5rem;
  }

  .marshmello {
    grid-row: 2;
    grid-column: 2;
  }

  .simple-pen {
    grid-row: 2;
    grid-column: 3;
  }

  .meme-craft {
    grid-row: 2;
    grid-column: 4;
  }

  .project {
    position: relative;
    display: grid;
    justify-items: center;
    align-items: center;
    column-gap: 1rem;

    text-transform: capitalize;

    > h2 {
      position: absolute;
      top: -14px;
      transform: translateY(-100%);
      color: Var(--clr-bg-dark);

      &::after {
        content: '';
        position: absolute;
        bottom: -6px;
        left: 50%;
        transform: translateX(-50%);

        width: 90px;
        height: 1px;
        background-color: Var(--clr-bg-dark);
        transition: width 0.3s ease-in-out;
      }
    }

    .img-backgroung {
      border-radius: 12px;
      border: 1px solid black;
      background-color: var(--clr-bg-black);
      grid-column: 1 /3;
      grid-row: 1 / 3;

      > img {
        border-radius: 10px;
        transition: 0.3s;
      }
    }

    > p,
    a {
      display: none;
      position: relative;
      z-index: 2;
    }

    a {
      cursor: pointer;
    }

    p {
      grid-column: 1 / span 2;
      grid-row: 1;
      padding-inline: 1rem;
      margin-top: 0.5rem;
      height: 3rem;

      font-size: 0.9rem;
      text-align: center;
      color: var(--clr-bg-light);
    }

    .open-git,
    .visit-web {
      grid-row: 2;
      height: max-content;
      font-size: 0.9rem;
      background-color: var(--clr-bg-light);
      border-radius: 100vh;
      padding: 0.5rem;
      width: 7rem;

      &:hover {
        background-color: var(--clr-bg-accent);
      }
    }

    .visit-web {
      grid-column: 1;
      justify-self: end;
    }

    .open-git {
      grid-column: 2;
      justify-self: start;
    }

    &:hover {
      > p,
      a {
        display: grid;
        place-items: center;
      }

      .img-backgroung {
        img {
          filter: blur(5px);
          opacity: 0.4;
        }
      }

      > h2 {
        &::after {
          width: 300px;
        }
      }
    }
  }
}
