*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  /* color-scheme: light dark; */
  font-family: 'manrope', sans-serif;
  font-size: 16px;
}

body {
  background-color: var(--clr-bg-accent);
  color: var(--clr-txt-light);
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-wrap: balance;
  font-family: 'homenaje', sans-serif;
}

p {
  margin: 0 0 1em;
  text-wrap: pretty;
}

img,
video,
canvas,
svg,
picture {
  display: block;
  max-width: 100%;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

input,
button,
textarea,
select {
  max-width: 100%;
  font-family: inherit;
}

input,
textarea {
  width: clamp(200px, 30vw, 30vw);
  padding: 0.8rem;
  border: 1px solid var(--clr-bg-dark);
  border-radius: 5px;

  outline: none;
  font-size: 1rem;
  background: transparent;
  transition: border-color 0.2s;

  &:focus {
    box-shadow: inset 0 0 0 2px var(--clr-bg-dark);
  }
}

button {
  border: none;
  cursor: pointer;
}

.btn {
  padding-block: 0.8rem;
  border-radius: 100vh;
  width: 10rem;

  font-size: 1rem;
  background-color: var(--clr-bg-light);

  &:hover {
    background-color: var(--clr-bg-accent);
  }
}

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--clr-bg-dark);
  border-radius: 10px;
  border: 3px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--clr-bg-dark);
}
