@media (max-width: 1200px) {
  .main-about-me {
    .about-me {
      > h1 {
        height: 80px;
        font-size: 5rem;
      }

      > h2 {
        font-size: 2.5rem;
      }

      .resume-btn {
        padding-block: 0.5rem;
      }
    }

    > .avatar {
      width: 405px;
    }
  }

  .Project-list {
    grid-template-columns: auto 1fr auto;
    clip-path: ellipse(160% 80% at 50% 80%);

    > h2 {
      grid-column: 2;
    }

    .marshmello {
      grid-row: 2;
      grid-column: 2;
    }

    .simple-pen {
      grid-row: 3;
      grid-column: 2;
    }

    .meme-craft {
      grid-row: 4;
      grid-column: 2;
    }
  }

  .project-preview {
    justify-self: center;
    width: 550px;
  }
}

@media (max-width: 980px) {
  .main-about-me {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 100%;
    align-items: center;
    row-gap: 1rem;

    padding-block-start: 1rem;
    clip-path: ellipse(160% 100% at 50% 0%);

    .about-me {
      grid-template-columns: 1fr;
      justify-items: center;
      padding-inline-start: 0;

      > p {
        text-align: center;
      }
    }

    > .avatar {
      grid-row: 2;
      width: 400px;
    }
  }
}

@media (max-width: 800px) {
  .main-about-me {
    padding-block-start: 0.5rem;
    .about-me {
      > h1 {
        height: 60px;
        font-size: 4rem;
      }

      > h2 {
        font-size: 2rem;
      }

      .resume-btn {
        padding-block: 0rem;
      }
    }

    > .avatar {
      grid-row: 2;
      width: 350px;
    }
  }

  .introduction {
    grid-template-columns: 100%;
    row-gap: 2rem;

    .openning {
      padding-inline: 1rem;
      grid-column: 1;
    }
  }

  .app-header {
    justify-content: center;

    .navigation {
      display: none;
    }
  }
}

@media (max-width: 630px) {
  .project-preview {
    width: 95%;

    > p,
    a {
      display: grid;
    }

    p {
      grid-column: 1 / span 2;
      grid-row: 3;
      color: var(--clr-bg-black);
      height: max-content;
    }

    .open-git,
    .visit-web {
      grid-row: 4;
      background-color: var(--clr-bg-accent);

      &:hover {
        background-color: var(--clr-bg-main);
      }
    }

    &:hover {
      .img-backgroung {
        img {
          filter: blur(0px);
          opacity: 1;
        }
      }
    }
  }
}
